body{
    background: linear-gradient(45deg,#000,#543459);
    background-size: 150% 150%;
    animation: color 2s ease-in-out infinite;
    color: white;
    font-family: 'Readex Pro', sans-serif;
}
.main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.typed-out{
    overflow: hidden;
    border-right: .1em solid ghostwhite;
    white-space: nowrap;
    font-size: 70px;
    font-weight: 500;
    width: 0;
    animation: 
        1.5s
        typing 1.5s steps(25, end) forwards,
        blink 1s infinite;
}
.container{
    display: inline-block;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% } 
}
@keyframes blink {
    from {border-color: transparent}
    to {border-color: ghostwhite}
}
